<div id="<%= dom_id location %>" class="col-md-8 fs-4 text-dark">

  <% if location.zipcode.present? %>
    <p>
      <strong>Zipcode:</strong>
      <%= location.zipcode %>
    </p>
  <% end %>

  <% if location.ip_address.present? %>
    <p>
      <strong>IP address:</strong>
      <%= location.ip_address %>
    </p>
  <% end %>

</div>
