<% content_for :title, "Editing location" %>

<%= render "form", location: @location %>

<br>

<div class="text-center">
  <%= link_to "Show this location", @location, class: "btn btn-secondary" %>
  <%= link_to "Back to locations", locations_path, class: "btn btn-primary" %>
</div>
